<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="denemevss.Properties.Settings.denemesqlConnectionString"
            connectionString="Data Source=EMREANDAS\SQLEXPRESS;Initial Catalog=denemesql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="denemevss.Properties.Settings.NOOBSYSConnectionString"
            connectionString="Data Source=EMREANDAS\SQLEXPRESS;Initial Catalog=NOOBSYS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>